tr.green td {
  background-color: green;
}
tr.red td {
  background-color: red;
}
tr.amber td {
  background-color: #FFBF00;
}
tr.brown td {
  background-color: #FFA500;
}
tr.black td {
  background-color: black;
}
