<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="https://img.icons8.com/fluent/48/000000/monitor.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>URL RAG DashBoard</title>
<style>
a:link {
  text-decoration: none;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
</style>
</head>
<body>

<h1>{{data.page}}</h1>
<button class="btn"><i class="fa fa-tv"></i><a href="www.google.com"></a></button>

</body>
</html>

